.description-container{
    max-width: 1200px;
    margin: 40px auto 20px;
}
.description-container .floating-image{
    max-width: 400px;
    border: 20px solid black;
}
.description-container .floating-image.left{
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
}
.description-container .floating-image.right{
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
}
.description-container .floating-image.right{
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
}
